*{
    box-sizing: border-box;
}

img{
    width: auto;
    max-width: 100%;
}

body{
    background-color: #fff;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.nalitabari{
    font-family: 'Langar', cursive;
    font-size: 60px;
}

header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: block;
}

header a{
    color: #fff;
}

.logo i{
    font-size: 30px;
    color: rgb(123, 212, 6);
}

nav{
    float: right;
}

nav a{
    margin-left: 10px;
    text-decoration: none;
}

.first-section{
    padding: 100px 20px 100px 20px;
    background-image: url(../image/nalitabari.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    text-align: center;
}

.project{
    padding: 77px 20px 20px 20px;
}

.container{
    display: flex;
}

.column{
    width: 25%;
    padding: 5px;
}

.about{
    padding: 77px 20px 30px 20px;
}

.contact{
    padding: 77px 20px 30px 20px;
}

form > input,
form textarea{
    width: 100%;
    margin-bottom: 5px;
}

.submit{
    display: inline-block;
    width: 200px;
}

iframe{
    width: 100%;
}

footer{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: #fff;
}

footer i{
    font-size: 50px;
}